@charset "UTF-8";

body {
    background-color: brown;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
}

h1 {
    color: burlywood;
    background-color: black;
}

h2 {
    color: burlywood;
}

p {
    text-align: justify;
}
 